<div class="row logs">
  <div class="span6">
    <h3><%= t('links.logs.receive') %></h3>
    <div class="log"><%= simple_format @receive_logs %></div>
  </div>
  <div class="span6">
    <h3><%= t('links.logs.send') %></h3>
    <div class="log"><%= simple_format @send_logs %></div>
  </div>
</div>